{% extends "templates/web.html" %}
{% from "erpnext/templates/includes/order/order_macros.html" import item_name_and_description %}

{% block breadcrumbs %}
	{% include "templates/includes/breadcrumbs.html" %}
{% endblock %}

{% block title %}{{ doc.name }}{% endblock %}

{% block header %}
	<h2 class="m-0">{{ doc.name }}</h2>
{% endblock %}

{% block header_actions %}
<div class="dropdown">
	<button class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		<span>{{ _('Actions') }}</span>
		<b class="caret"></b>
	</button>
	<ul class="dropdown-menu dropdown-menu-right" role="menu">
		{% if doc.doctype == 'Purchase Order' and False %}
		<a class="dropdown-item" href="/api/method/erpnext.buying.doctype.purchase_order.purchase_order.make_purchase_invoice_from_portal?purchase_order_name={{ doc.name }}" data-action="make_purchase_invoice">{{ _("Make Purchase Invoice") }}</a>
		{% endif %}
		{% if doc.doctype == 'Purchase Order' and doc.status == 'Pendiente de Confirmacion' and doc.aprobado_por_proveedor == 0 %}
			<a class="dropdown-item" href="?aprobar_rechazar_por_proveedor=aprobar" data-action="make_purchase_invoice">Aprobar</a>
			<a class="dropdown-item" href="?aprobar_rechazar_por_proveedor=rechazar" data-action="make_purchase_invoice">Rechazar</a>
		{% endif %}
		{% if doc.doctype == 'Payment Entry' %}
			<a class="dropdown-item" href='/printview?doctype={{ doc.doctype }}&name={{ doc.name }}&format=Orden de Pago' target="_blank" rel="noopener noreferrer">Orden de Pago</a>

			{% set ret_iibb = doc.has_retencion('Ingresos Brutos') %}
			{% if ret_iibb|length > 1%}
				<a class="dropdown-item {% if not ret_iibb %}disabled{% endif %}" href='/api/method/frappe.utils.print_format.download_multi_pdf?doctype=Retencion&name={{ ret_iibb|json}}&format=Retencion' target="_blank" rel="noopener noreferrer">IIBB</a>
			{% else %}
				<a class="dropdown-item {% if not ret_iibb %}disabled{% endif %}" href='/printview?doctype=Retencion&name={{ ret_iibb[0] }}&format=Retencion' target="_blank" rel="noopener noreferrer">IIBB</a>
			{% endif %}

			{% set ret_iva = doc.has_retencion('IVA') %}
			<a class="dropdown-item {% if not ret_iva %}disabled{% endif %}" href='/printview?doctype=Retencion&name={{ ret_iva[0] }}&format=Retencion' target="_blank" rel="noopener noreferrer">IVA</a>
			
			{% set ret_ganancias = doc.has_retencion('Ganancias') %}
			<a class="dropdown-item {% if not ret_ganancias %}disabled{% endif %}" href='/printview?doctype=Retencion&name={{ ret_ganancias[0] }}&format=Retencion' target="_blank" rel="noopener noreferrer">Ganancias</a>

			{% set ret_suss = doc.has_retencion('Seguridad Social') %}
			<a class="dropdown-item {% if not ret_suss %}disabled{% endif %}" href='/printview?doctype=Retencion&name={{ ret_suss[0] }}&format=Retencion' target="_blank" rel="noopener noreferrer">SUSS</a>
		{% else %}
			<a class="dropdown-item" href='/printview?doctype={{ doc.doctype}}&name={{ doc.name }}&format={{ print_format }}'
				target="_blank" rel="noopener noreferrer">
				{{ _("Print") }}
			</a>
		{% endif %}
	</ul>
</div>

{% endblock %}

{% block page_content %}

<div class="row transaction-subheading">
	<div class="col-6">
		<span class="indicator-pill {{ doc.indicator_color or ("blue" if doc.docstatus==1 else "darkgrey") }}">
			{% if doc.doctype == "Quotation" and not doc.docstatus %}
				{{ _("Pending") }}
			{% else %}
				{{ _(doc.get('indicator_title')) or _(doc.status) or _("Submitted") }}
			{% endif %}
		</span>
	</div>
	<div class="col-6 text-muted text-right small pt-3">
		{{ frappe.utils.format_date(doc.transaction_date, 'medium') }}
		{% if doc.valid_till %}
		<p>
		{{ _("Valid Till") }}: {{ frappe.utils.format_date(doc.valid_till, 'medium') }}
		</p>
		{% endif %}
	</div>
</div>

<p class="small my-3">
	{% if doc.doctype in ['Supplier Quotation', 'Purchase Invoice', 'Purchase Order'] %}
		{%- set party_name = doc.supplier_name %}
	{% elif doc.doctype in ['Payment Entry'] %}
		{%- set party_name = doc.party_name  %}
	{% else %}
		{%- set party_name = doc.customer_name %}
	{% endif %}
	
	<b>{{ party_name }}</b>

	{% if doc.contact_display and doc.contact_display != party_name %}
		<br>
		{{ doc.contact_display }}
	{% endif %}
</p>

{% if doc.doctype == 'Payment Entry' %}
	<div class="small row my-3">
		<div class="col-3"><b>Método de Pago:</b> {{ doc.mode_of_payment or '' }}</div>
		<div class="col-3">{% if doc.reference_no %}<b>Número de referencia:</b> {{ doc.reference_no }}{% endif %}</div>
		<div class="col-3">{% if doc.reference_date %}<b>Fecha de referencia:</b> {{ frappe.utils.formatdate(doc.reference_date, 'dd/MM/Y') }}{% endif %}</div>
	</div>
	{% if doc.cheques %}
		<div class="pt-2 pb-5">
			<table class="order-item-table w-100 table">
				<thead class="order-items order-item-header">
					<th width="40%">
						{{ _("Cheque") }}
					</th>
					<th width="30%">
						{{ _("Fecha") }}
					</th>
					<th width="30%" class="text-right">
						{{ _("Importe") }}
					</th>
				</thead>
				<tbody>
					{% for cheque in doc.cheques %}
						<tr class="order-items">
							<td>
								{{ cheque.cheque }} 
							</td>
							<td>
								{{ frappe.utils.formatdate(cheque.fecha, 'dd/MM/Y') }}
							</td>
							<td class="text-right">
								$ {{ cheque.importe }} 
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% endif %}
{% endif %}


{% if doc._header %}
{{ doc._header }}
{% endif %}

{% if doc.doctype == 'Purchase Order' and doc.docstatus != 2 %}
<div class="pt-2 pb-5 float-right">
	<h5>Nuevo pacto de entrega:</h5> 
	<form action="" style="display: flex;">
		<input name='nuevo_pacto_entrega' class='form-control' type='date' format="yyyy-mm-dd" style='max-width: 200px; display: inline-block; margin-right: 10px;' value='{{ doc.nuevo_pacto_entrega }}'>
		<input type='submit' class='btn btn-sm btn-light btn-primary' value="{{ _("Modificar") }}">
	</form>
</div>

{% endif %}

{% if doc.doctype == 'Payment Entry' %}
<div class="order-container">
	<!-- items -->
	<table class="order-item-table w-100 table">
		<thead class="order-items order-item-header">
			<th width="50%">
				{{ _("Comprobantes") }}
			</th>
			<th width="50%" class="text-right">
				{{ _("Pagado") }}
			</th>
		</thead>
		<tbody>
		{% for reference in doc.references %}
			{% set datos_comprobante = frappe.db.get_value('Purchase Invoice', reference.reference_name, ['tipo_de_comprobante', 'bill_date']) %}
			<tr class="order-items">
				<td>
					<a href="/purchase-invoices/{{ reference.reference_name }}" target="_blank"><h6>{{ datos_comprobante[0] }}: {{ reference.bill_no }}</h6></a>
					Fecha: {{ frappe.utils.formatdate(datos_comprobante[1], 'dd/MM/Y') }} 
				</td>
				<td class="text-right">
					<h6>$ {{ reference.allocated_amount }}</h6>
					Total Comprobante: $ {{ reference.total_amount }}
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	<!-- taxes -->
	<div class="order-taxes d-flex justify-content-end">
		<table>
			{% include "erpnext/templates/includes/order/order_taxes.html" %}
		</table>
	</div>
</div>
{% elif doc.doctype == 'Purchase Order' %}
<div class="order-container">
	<!-- items -->
	<table class="order-item-table w-100 table">
		<thead class="order-items order-item-header">
			<th width="40%">
				{{ _("Item") }}
			</th>
			<th width="20%" class="text-right">
				{{ _("Warehouse") }}
			</th>
			<th width="20%" class="text-right">
				{{ _("Quantity") }}
			</th>
			<th width="20%" class="text-right">
				{{ _("Amount") }}
			</th>
		</thead>
		<tbody>
		{% for d in doc.items %}
		<tr class="order-items">
			<td>
				{{ item_name_and_description(d) }}
			</td>
			<td>
				{{ d.warehouse }}
			</td>
			<td class="text-right">
				{{ d.qty }}
				{% if d.delivered_qty is defined and d.delivered_qty != None %}
				<p class="text-muted small">{{ _("Delivered") }}&nbsp;{{ d.delivered_qty }}</p>
				{% endif %}
			</td>
			<td class="text-right">
				{{ d.get_formatted("amount")	 }}
				<p class="text-muted small">{{ _("Rate:") }}&nbsp;{{ d.get_formatted("rate") }}</p>
			</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	<!-- taxes -->
	<div class="order-taxes d-flex justify-content-end">
		<table>
			{% include "erpnext/templates/includes/order/order_taxes.html" %}
		</table>
	</div>
</div>
{% else %}
<div class="order-container">
	<!-- items -->
	<table class="order-item-table w-100 table">
		<thead class="order-items order-item-header">
			<th width="60%">
				{{ _("Item") }}
			</th>
			<th width="20%" class="text-right">
				{{ _("Quantity") }}
			</th>
			<th width="20%" class="text-right">
				{{ _("Amount") }}
			</th>
		</thead>
		<tbody>
		{% for d in doc.items %}
		<tr class="order-items">
			<td>
				{{ item_name_and_description(d) }}
			</td>
			<td class="text-right">
				{{ d.qty }}
				{% if d.delivered_qty is defined and d.delivered_qty != None %}
				<p class="text-muted small">{{ _("Delivered") }}&nbsp;{{ d.delivered_qty }}</p>
				{% endif %}
			</td>
			<td class="text-right">
				{{ d.get_formatted("amount")	 }}
				<p class="text-muted small">{{ _("Rate:") }}&nbsp;{{ d.get_formatted("rate") }}</p>
			</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	<!-- taxes -->
	<div class="order-taxes d-flex justify-content-end">
		<table>
			{% include "erpnext/templates/includes/order/order_taxes.html" %}
		</table>
	</div>
</div>
{% endif %}

{% if enabled_checkout and ((doc.doctype=="Sales Order" and doc.per_billed <= 0) or (doc.doctype=="Sales Invoice" and doc.outstanding_amount > 0)) %}
<div class="panel panel-default">
	<div class="panel-heading">
		<div class="row">
			<div class="form-column col-sm-6 address-title">
				<strong>{{ _("Payment") }}</strong>
			</div>
		</div>
	</div>
	<div class="panel-collapse">
		<div class="panel-body text-muted small">
			<div class="row">
				<div class="form-column col-sm-6">
					{% if available_loyalty_points %}
					<div class="form-group">
						<div class="h6">Enter Loyalty Points</div>
						<div class="control-input-wrapper">
							<div class="control-input">
								<input class="form-control" type="number" min="0" max="{{ available_loyalty_points }}" id="loyalty-point-to-redeem">
							</div>
							<p class="help-box small text-muted d-none d-sm-block"> Available Points: {{ available_loyalty_points }} </p>
						</div>
					</div>
					{% endif %}
				</div>

				<div class="form-column col-sm-6">
					<div id="loyalty-points-status" style="text-align: right"></div>
					<div class="page-header-actions-block" data-html-block="header-actions">
						<p class="mt-2" style="float: right;">
							<a href="/api/method/erpnext.accounts.doctype.payment_request.payment_request.make_payment_request?dn={{ doc.name }}&dt={{ doc.doctype }}&submit_doc=1&order_type=Shopping Cart"
								class="btn btn-primary btn-sm"
								id="pay-for-order">
								{{ _("Pay") }} {{ doc.get_formatted("grand_total") }}
							</a>
						</p>
					</div>
				</div>

			</div>

		</div>
	</div>
</div>
{% endif %}

{% if doc.doctype == 'Payment Entry' and doc.retenciones %}
<div class="order-container pt-10">
	<table class="order-item-table w-100 table">
		<thead class="order-items order-item-header">
			<th width="40%">
				{{ _("Retenciones") }}
			</th>
			<th width="20%" class="text-right">
			</th>
			<th width="20%" class="text-right">
			</th>
			<th width="20%" class="text-right">
			</th>
		</thead>
		<tbody>
		{% for retencion in doc.retenciones %}
		<tr class="order-items">
			<td>
				{{ retencion.retencion_name }}
			</td>
			<td class="text-right">
				{{ retencion.retencion }}
			</td>
			<td class="text-right">
				$ {{ retencion.monto }}
			</td>
			<td class="text-right">
				<button onclick="javascript:window.open('/printview?doctype=Retencion&name={{ retencion.retencion_name }}&format=Retencion', '_blank');" class="text-muted btn btn-default icon-btn" title="Imprimir" data-original-title="Impresión">
					<svg class="icon icon-sm" style="">
						<use class="" href="#icon-printer"></use>
					</svg>
				</button>
			</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	<div class="order-taxes d-flex justify-content-end">
		<table>
			<tr>
				<th class="text-left item-grand-total" colspan="1">
					{{ _("Total Retenciones") }}
				</th>
				<th class="text-right item-grand-total totals" colspan="3">
					$ {{ doc.retenciones | sum(attribute='monto') }}
				</th>
			</tr>

		</table>
	</div>
</div>
{% endif %}

{% if doc.doctype == 'Purchase Order' %}
<div class="order-container pt-10">
	<div class="row order-items order-item-header text-muted">
		<div class="col-sm-12 h6 text-uppercase">
			{{ _("Adjuntar Documentación") }}
		</div>
		<div class="col-sm-12 pb-3">
			Aquí podrá subir documentación como remitos o cuestiones relacionadas a esta compra
		</div>
	</div>
	<div class="row order-items">
		<div class="col-sm-12">
			<form id="frmFileUp" action="" style="display: flex;">
				<div class="input-group mb-3">
				  <div class="input-group-prepend">
				    <span class="input-group-text" id="btn_upload">Adjuntar</span>
				  </div>
				  <div class="custom-file">
				    <input type="file" class="custom-file-input" id="select_files" aria-describedby="inputGroupFileAddon01" lang="es">
				    <label class="custom-file-label" for="select_files" data-browse="Buscar">Elegir archivo</label>
				  </div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endif %}

{% if attachments %}
<div class="order-item-table pt-10">
	<div class="row order-items order-item-header text-muted">
		<div class="col-sm-12 h6 text-uppercase">
			{{ _("Attachments") }}
		</div>
	</div>
	<div class="row order-items">
		<div class="col-sm-12">
			{% for attachment in attachments %}
			<p class="small">
				<a href="{{ attachment.file_url }}" target="blank"> {{ attachment.file_name }} </a>
			</p>
			{% endfor %}
		</div>
	</div>
</div>
{% endif %}
</div>
{% if doc.terms %}
<div class="terms-and-condition text-muted small">
	<hr><p>{{ doc.terms }}</p>
</div>
{% endif %}
{% endblock %}

{% block script %}
	<script> {% include "templates/pages/order.js" %} </script>
	<script>
		window.doc_info = {
			customer: '{{doc.customer}}',
			doctype: '{{ doc.doctype }}',
			doctype_name: '{{ doc.name }}',
			grand_total: '{{ doc.grand_total }}',
			currency: '{{ doc.currency }}'
		}
	</script>
{% endblock %}
