{% if sub_title %}
<h4 class="text-muted">{{ sub_title }}</h4>
{% endif %}
{% if not result -%}
	<div class="text-muted" style="min-height: 300px;">
		{{ no_result_message or _("Nothing to show") }}
	</div>
{% else %}
	<div class="website-list" data-doctype="{{ doctype }}"
		data-txt="{{ txt or '[notxt]' | e }}">

		{% if result_heading_template %}{% include result_heading_template %}{% endif %}

		<div class="result">
			<div class="row">
				<div class="col-sm-3">
					<b>Documento</b>
				</div>
				<div class="col-sm-4">
					<b>Comprobantes</b>
				</div>
				<div class="col-sm-2 text-right bold">
					<b>Monto Total</b> 
				</div>
				<div class="col-sm-2 text-right bold">
					<b>Monto Pagado</b>
				</div>
			</div>
			{% for item in result %}
				{{ item }}
			{% endfor %}
		</div>
		<div class="more-block mt-6 {% if not show_more -%} hidden {%- endif %}">
			<button class="btn btn-light btn-more btn-sm">{{ _("More") }}</button>
		</div>
	</div>
{%- endif %}
