{% extends "templates/web.html" %}

{% block title %}
	{{ title or (_("{0} List").format(_(doctype))) }}
{% endblock %}

{% block header %}
	<h1>{{ title or (_("{0} List").format(_(doctype))) }}</h1>
{% endblock %}

{% block breadcrumbs %}
	{% include "templates/includes/breadcrumbs.html" %}
{% endblock %}

{% block page_content %}
<div class="pt-2 pb-2">
	<form action="" style="display: flex;">
		<input name='txt' placeholder="Nombre" class='form-control' type='text' style='max-width: 200px; display: inline-block; margin-right: 10px;' value='{{ frappe.form_dict.txt or ''}}'>
		<input name='bill_no' placeholder="Número de factura" class='form-control' type='text' style='max-width: 200px; display: inline-block; margin-right: 10px;' value='{{ frappe.form_dict.bill_no or ''}}'>
		<input name='posting_date' class='form-control' type='date' format="yyyy-mm-dd" style='max-width: 200px; display: inline-block; margin-right: 10px;' value='{{ frappe.form_dict.posting_date or ''}}'>
		<input type='submit' class='btn btn-sm btn-light btn-search' value="{{ _("Search") }}">
	</form>
</div>
{% if introduction %}<p>{{ introduction }}</p>{% endif %}
{% include list_template or "templates/includes/list/list.html" %}
{% if list_footer %}{{ list_footer }}{% endif %}

{% endblock %}

{% block script %}
<script>{% include "templates/pages/payments.js" %}</script>
{% endblock %}
