<div class="web-list-item transaction-list-item">
	<div class="row">
		<div class="col-sm-3">
			<a style="text-decoration: none !important;color: inherit;" href="#"> <!--/{{ pathname }}/{{ doc.name }}-->
				<span class="indicator small {{ doc.indicator_color or ("blue" if doc.docstatus==1 else "gray") }}">{{ doc.name }}</span>
				<div class="small text-muted transaction-time"
					title="{{ frappe.utils.format_datetime(doc.modified, "medium") }}">
					{{ frappe.utils.global_date_format(doc.modified) }}
				</div>
			</a>
		</div>
		<div class="col-sm-4">
			<div class="small text-muted items-preview ellipsis ellipsis-width">
				{% for reference in doc.references %}
					{% if reference.bill_no %}
						{% set datos_comprobante = frappe.db.get_value('Purchase Invoice', reference.reference_name, ['tipo_de_comprobante', 'bill_date']) %}
							<div>
								<b>{{ datos_comprobante[0] }}:</b> {{ reference.bill_no }} <span {% if reference.total_amount > 0 %}class="text-success float-right"{% else %}class="text-danger float-right"{% endif %}>${{ reference.total_amount }}</span>
								<br>
								{{ frappe.utils.formatdate(datos_comprobante[1], 'dd/MM/Y') }}
							</div>
					{% endif %}
				{% endfor %}

				{% if doc.references and doc.references|length > 1 %}
					<hr style="margin-top:5px;margin-bottom:5px;" />
				{% endif %}
				{% for retencion in doc.retenciones %}
					{{ retencion.retencion }} <span class="text-danger float-right">${{ retencion.monto }}</span><br>
				{% endfor %}
			</div>
		</div>
		<div class="col-sm-2 text-right bold">
			{{ doc.get_formatted("total_allocated_amount") }}
		</div>
		<div class="col-sm-2 text-right bold">
			{{ doc.get_formatted("paid_amount") }}
		</div>
		<div class="dropdown">
			<button class="btn-xs btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				<span><svg class="icon icon-sm" style=""><use class="" href="#icon-printer"></use></svg></span>
				<b class="caret"></b>
			</button>
			<ul class="dropdown-menu dropdown-menu-right" role="menu">
				<a class="dropdown-item" href='/printview?doctype={{ doc.doctype }}&name={{ doc.name }}&format=Orden de Pago' target="_blank" rel="noopener noreferrer">Orden de Pago</a>
				<a class="dropdown-item {% if not doc.has_retencion('IVA') %}disabled{% endif %}" href='/printview?doctype={{ doc.doctype }}&name={{ doc.name }}&format=Orden de Pago' target="_blank" rel="noopener noreferrer">IVA</a>
				<a class="dropdown-item {% if not doc.has_retencion('Ingresos Brutos') %}disabled{% endif %}" href='/printview?doctype={{ doc.doctype }}&name={{ doc.name }}&format=Orden de Pago' target="_blank" rel="noopener noreferrer">IIBB</a>
				<a class="dropdown-item {% if not doc.has_retencion('Ganancias') %}disabled{% endif %}" href='/printview?doctype={{ doc.doctype }}&name={{ doc.name }}&format=Orden de Pago' target="_blank" rel="noopener noreferrer">Ganancias</a>
				<a class="dropdown-item {% if not doc.has_retencion('Seguridad Social') %}disabled{% endif %}" href='/printview?doctype={{ doc.doctype }}&name={{ doc.name }}&format=Orden de Pago' target="_blank" rel="noopener noreferrer">SUSS</a>
			</ul>
		</div>
	</div>
</div>
